In [10]:
import numpy as np
import pandas as pd
table = pd.read_csv('online_shoppers_intention.csv')
table

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1.0,1,1,1,Returning_Visitor,False,False
1,0,0.0,0.0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2.0,2,1,2,Returning_Visitor,False,False
2,0,0.0,0.0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4.0,1,9,3,Returning_Visitor,False,False
3,0,0.0,0.0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3.0,2,2,4,Returning_Visitor,False,False
4,0,0.0,0.0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3.0,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0.0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4.0,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0.0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3.0,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0.0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3.0,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0.0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2.0,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0.0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3.0,2,1,2,New_Visitor,True,False

In [11]:
print('Dimensions: ',table.ndim)
print('Shape: ',table.shape)
print('Size: ', table.size)
print('Data Type: ', table.dtypes)

Dimensions:  2
Shape:  (12330, 18)
Size:  221940
Data Type:  Administrative               int64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems           float64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [12]:
table.isnull().sum()

Administrative               0
Administrative_Duration      0
Informational              128
Informational_Duration       0
ProductRelated               0
ProductRelated_Duration      0
BounceRates                  0
ExitRates                    0
PageValues                 135
SpecialDay                   0
Month                        0
OperatingSystems           123
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

In [15]:
table['Informational'].fillna(table['Informational'].mean)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
12325    0.0
12326    0.0
12327    0.0
12328    0.0
12329    0.0
Name: Informational, Length: 12330, dtype: object

In [18]:
table['PageValues'].fillna(table['PageValues'].mean)

0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
           ...
12325    12.241717
12326          0.0
12327          0.0
12328          0.0
12329          0.0
Name: PageValues, Length: 12330, dtype: object

In [19]:
table['OperatingSystems'].fillna(table['OperatingSystems'].mean)

0        1.0
1        2.0
2        4.0
3        3.0
4        3.0
        ...
12325    4.0
12326    3.0
12327    3.0
12328    2.0
12329    3.0
Name: OperatingSystems, Length: 12330, dtype: object

In [13]:
table.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12202.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12195.000000,12330.000000,12207.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503770,34.472398,31.731468,1194.746220,0.022191,0.043073,5.911196,0.061427,2.123618,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270882,140.749294,44.475503,1913.669288,0.048488,0.048597,18.632116,0.198917,0.911829,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000